.contacts {
	padding-top: 150px;
	text-align: center;
	background-color: @cream;

	&__text {
		margin: 0 auto;
		max-width: 770px;
	}

	&__img {
		max-width: 816px;
		margin: 0 auto;
	}

	&__phone {
		font-size: 18px;
		line-height: 20px;

		a {
			display: inline-block;
			color: @black;
			font-weight: bold;
			font-size: 50px;
			line-height: 60px;
			// margin-top: 20px;
			padding-bottom: 20px;
			border-bottom: 5px solid @gold-title;

			// &::after {
			// 	content: '';
			// 	display: block;
			// 	width: 100%;
			// 	max-width: 404px;
			// 	height: 5px;
			// 	margin: 20px auto;
			// 	background-color: @gold-title;
			// }
		}
		

	}
}