.drinksMenu {
	width: 100%;
	box-sizing: border-box;
	padding: 56px 60px;
	border-left: 6px solid @gold-title;
	border-right: 6px solid @gold-title;
	font-size: 16px;
	line-height: 18px;

	li:not(:last-child) {
		margin-bottom: 50px;
	}

	&__dosage {
		color: @gold-headerSlider;
		font-style: italic;
		text-align: right;
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 12px;
	}

	&__option  {
		margin-bottom: 28px;
	}

	&__title {
		font-size: 20px;
		line-height: 23px;
		margin-top: 34px;
		margin-bottom: 20px;
	}

	&__text {
		display: flex;
	}

	&__name {
		font-style: italic;
	}

}