.gallery {
	background: @black url(../img/gallery-bg.jpg);
	padding-top: 100px;
	padding-bottom: 172px;
	overflow: hidden;

	&__title {
		margin-bottom: 100px;
		color: @white;

		&::after {
			display: none;
		}
	}

	.gallerySlider {
		display: flex;
		align-items: center;

		&__item {
			width: 360px;
			margin-left: 18px;
			margin-right: 18px;

			&--active {
				margin-left: 73px;
				margin-right: 73px;
				transform: scale(1.24);
				position: relative;
				z-index: 1;

				&::before {
					content: '';
					display: block;
					width: 327px;
					height: 327px;
					background-color: @gold;
					position: absolute;
					z-index: -1;
					top: -36px;
					left: -36px;
				}

				&::after {
					content: '';
					display: block;
					width: 300px;
					height: 300px;
					border-right: 6px solid @gold;
					border-bottom: 6px solid @gold;
					position: absolute;
					z-index: -1;
					bottom: -36px;
					right: -36px;
				}

			}
		}
	}
}