.reset();

.container {
	.wrapper();
}

body {
	font-family: Helvetica;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

p {
	font-family: Georgia;
}

.title {
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	color: @black;
	text-align: center;

	&::after {
		content: '';
		display: block;
		width: 62px;
		height: 4px;
		margin-top: 50px;
		margin: 50px auto;
		background-color: @gold-title;
	}
}

h3 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 22px;
	line-height: 25px;
}

.button {
	background-color: @cream;
	border-color: transparent;
	height: 60px;
	padding: 0 20px;
	color: @black;
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
	

	&--active {
		font-weight: bold;
		position: relative;
		outline: none;

		&::after {
			content: '';
			display: block;
			width: 38px;
			height: 24px;
			background-image: url(../img/button-arrow.svg);
			position: absolute;
			left: 50%;
			bottom: -50px;
			transform: translateX(-50%);

		}
	}
}

.links {
	a:first-child {
		margin-right: 64px;
	}
}

.color {
	&--gold-light {
		color: @gold-light;
	}

	&--gold{
		color: @gold;
	}
}

.separator {
	display: flex;
	flex-grow: 1;
	height: 1px;
	align-self: flex-end;
	margin: 0 5px;
	background-color: @gold;
}

.parallax {
	min-height: 520px;
	background: transparent;
	text-align: center;
}