.header {
	max-height: 1300px;
	padding-bottom: 90px;
	background-color: @black-header;
	background-image: url(../img/header-bg.jpg);
	color: @white;
	box-sizing: border-box;
	position: relative;
	background-position-x: right;

	.lg-block({
		padding-bottom: 120px;
	});

	.slg-block({
		padding-bottom: 140px;
	});

	.mlg-block({
		padding-bottom: 160px;
	});

	.slg-block({
		padding-bottom: 180px;
	});

	.emd-block({
		padding-bottom: 84px;

		&::before {
			display: none;
		}
	});

	&::before {
		content: '';
		width: 73%;
		height: 100%;
		background-color: @black-header;
		position: absolute;
	}

	.container {
		position: relative;
	}

	a {
		color: @white;
	}

	&__head {
		background-color: #000;
		width: 100%;

		&--fixed {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			animation-name: show-header;
			animation-duration: .5s;
		}
	}

	&__main {
		.mlg-block({
			padding-top: 50px;
		});

		.slg-block({
			padding-top: 30px;
		});

		.sm-block({
			padding-top: 62px;
		});
	}

	&__headWrapper {
		display: flex;
		align-items: center;
		height: 86px;
	}

	&__mainWrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		position: relative;

		.emd-block({
			flex-direction: column;
			align-items: center;
		});
	}

	&__title {
		font-weight: bold;
		font-size: 90px;
		line-height: 107px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;

		.lg-block({
			font-size: 80px;
			line-height: 95px;
			transform: translateY(-60%);
		});

		.mlg-block({
			font-size: 75px;
		});

		.slg-block({
			font-size: 60px;
			line-height: 83px;
		});

		.emd-block({
			line-height: 73px;
			top: 0;
			transform: translateX(-128px);
		});

		.sm-block({
			font-size: 37px;
			line-height: 45px;
			transform: translate(-60px, -50px);
		});
	}

	.links {

		.emd-block({
			align-self: flex-end;
			order: 1;
			position: absolute;
			right: 25%;
    		top: 54.5%;

    		a:first-child {
				margin-right: 36px;
			}

			img {
				width: 22px;
				height: 22px;
			}
		});

		.smd-block({
			right: 21%;
		});

		.md-block({
			right: 18%;
		});

		.lsm-block({
			right: 9%;
		});

		.sm-block({
		    top: 78%;
    		right: 12%;

			a:first-child {
				margin-right: 24px;
			}

			img {
				width: 16px;
				height: 16px;
			}
		});

		.xs-block({
			right: 10px;
		});
	}

	&__scroll {
		display: block;
		position: absolute;
		// right: 10%;
		right: 0;
		bottom: -90px;
		transform: translateX(-120%);
		transition: color .5s ease;

		.lg-block({
			bottom: -120px;
		});

		.slg-block({
			bottom: -140px;
		});

		.mlg-block({
			bottom: -160px;
		});

		.slg-block({
			bottom: -180px;
		});

		.emd-block({
			display: none;
		});

		&:hover {
			color: @gold-headerSlider;
		}

		&::after {
			content: '';
			display: block;
			width: 1px;
			height: 128px;
			margin: 30px auto 0;
			background-color: @gold-headerSlider; 
		}
	}
}