.nav {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;
	height: 100%;

	&__wrapper {
		margin: 0 auto;
		display: flex;
		flex-basis: 100%;
		max-width: 850px;
		justify-content: space-between;

		.emd-block({
			display: none;
			min-width: 145px;
			border: 1px solid @gold;
			text-align: center;
			position: absolute;
			top: 86px;
			right: 0;
			z-index: 10;
			background-color: #000;

			.nav__link {
				display: block;
				padding: 18px 35px;
				border-bottom: 1px solid @gold;
			}

		});
	}

	&__link {
		transition: color .4s ease;

		&:hover {
			color: @gold-headerSlider;
		}
	}

	&__lang {
		// margin: 0 74px;

		.emd-block({
			margin-left: auto;
			margin-right: 74px;
		});
	}

	&__burger {
		width: 60px;
		cursor: pointer;
		display: none;

		.emd-block({
			display: block;
			transition: transform 1s ease;

			&--open {
				height: 60px;

				&::before {
					width: 100%;
					transform: rotate(-45deg) translate(-20px, 20px);
				}

				&::after {
					width: 100%;
					transform: rotate(45deg) translate(18px, 18px);
					margin: 0;
				}

				&:hover {
					&::after {
						width: 100%;
					}
				}
			}
		});

		&::before,
		&::after {
			content: '';
			display: block;
			height: 3px;
			background-color: @gold-headerSlider;
			transition: width .4s ease;
		}

		&::before {
			width: 100%;
		}

		&::after {
			margin-top: 12px;
			text-align: right;
			width: 70%;
			margin-left: auto;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}