.nav {
	display: flex;
	flex-grow: 1;

	&__wrapper {
		margin: 0 auto;
		display: flex;
		flex-basis: 100%;
		max-width: 725px;
		justify-content: space-between;
	}

	&__link {
		transition: color .4s ease;

		&:hover {
			color: @gold-headerSlider;
		}
	}

	&__lang {
		margin: 0 74px;
	}

	&__burger {
		width: 60px;
		cursor: pointer;


		&::before,
		&::after {
			content: '';
			display: block;
			height: 3px;
			background-color: @gold-headerSlider;
			transition: width .4s ease;
		}

		&::before {
			width: 100%;
		}

		&::after {
			margin-top: 12px;
			text-align: right;
			width: 70%;
			margin-left: auto;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}